@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
	background: #0f0f0f;
}

.bg {
	position: relative;
}

.bg:after {
	background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
		radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
		radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
		radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
		radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
		radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
		radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(100px) saturate(150%);
	z-index: -1;
	top: 80px;
	opacity: 0.3;
	transform: translateZ(0);
}

.bgblog {
	position: relative;
}

.bgblog:after {
	background: radial-gradient(
		50% 50% at 50% 50%,
		#c800ff63 0%,
		#0085ff52 50%,
		#1400ff06 100%
	);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(100px) saturate(150%);
	z-index: -1;
	top: 80px;
	right: 20px;
	opacity: 0.6;
	transform: translateZ(0);
}

.shiny_text {
	@-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	background-image: linear-gradient(270deg, #f1f5f9, #9a9a9a, #f1f5f9);
	background-size: 200% 400%;
	animation: shiny_animation 20s ease-in-out infinite;
}

@keyframes shiny_animation {
	from {
		background-position: 200% 0;
	}
	to {
		background-position: -200% 0;
	}
}

.link {
	color: #ff9b0e;
}

.link:hover {
	color: #e08300;
}

.fading-line {
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, transparent, #4b556364, transparent);
}
